body {
    font-size: 15px;
    color: #ffffff;
    background-color: #293034;
}

a {
    color: #0788e2;
}

a:hover,
a:focus {
    color: #055b98;
}

.img-bordered {
    background-color: #0f1112;
    padding: 3px;
    border-radius: 3px;
}

hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border-top: 1px solid #1d2224;
}

#dashboard hr {
    margin: 50px 0;
}

p {
    margin: 0 0 10.5px;
}

.lead {
    margin: 0;
    font-size: 17.25px;
}

@media (min-width: 768px) {
    .lead {
        font-size: 24px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }
}

.text-primary {
    color: #0788e2;
}

.text-success {
    color: #01ff00;
}

.text-info {
    color: #42ccff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 100;
    line-height: 2;
}

h1,
h2,
h3 {
    margin-top: 21px;
    margin-bottom: 10.5px;
}

h4,
h5,
h6 {
    margin-top: 10.5px;
    margin-bottom: 10.5px;
}

h1,
.h1 {
    font-size: 39px;
}

h2,
.h2 {
    font-size: 32px;
}

h3,
.h3 {
    font-size: 26px;
}

h4,
.h4 {
    font-size: 19px;
}

h5,
.h5 {
    font-size: 15px;
}

h6,
.h6 {
    font-size: 13px;
}

h1 small,
.h1 small {
    font-size: 26px;
}

h2 small,
.h2 small {
    font-size: 19px;
}

h3 small,
.h3 small,
h4 small,
.h4 small {
    font-size: 15px;
}

.page-header {
    padding-bottom: 9.5px;
    margin: 42px 0 21px;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10.5px;
}

dl {
    margin-bottom: 21px;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 985px;
}

#dashboard.container {
    padding-top: 55px
}

.row {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
}

.row-big {
    margin-bottom: 20px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 768px) {
    .container {
        max-width: 985px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 985px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1160px;
    }
}

fieldset {
    margin: 58px 0;
}

legend {
    margin-bottom: 21px;
    font-size: 22.5px;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-weight: normal;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #dddddd;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

.lt-ie8 input.radioChanged, .lt-ie7 input.radioChanged {
    height: auto;
    width: auto;
    opacity: 1;
}

input.radioChanged, input.checkboxChanged {
    position: relative;
    z-index: 2;
    opacity: 0;
    height: 15px;
    margin: 0;
    width: 15px;
    display: inline-block;
}

.lt-ie8 .checkboxContainer, .lt-ie7 .checkboxContainer, .lt-ie7 .radioContainer, .lt-ie8 .radioContainer {
    display: none !important;
}

.checkboxContainer, .radioContainer {
    position: relative;
    z-index: 1;
    height: 15px;
    width: 15px;
    margin: 0px 5px -3px -15px;
    display: inline-block;
}

.lt-ie8 input.radioChanged + .checkboxContainer {
    background-image: none !important;
}

.lt-ie8 input.radioChanged + .radioContainer {
    background-image: none !important;
}

input.checkboxChanged + .checkboxContainer {
    background: url("../img/checkbox.png") top left no-repeat;
}

input.radioChanged + .radioContainer {
    background: url("../img/radio.png") top left no-repeat;
}

input.checkboxChanged:checked + .checkboxContainer, input[type="radio"]:checked + .radioContainer {
    background-position: top right;
}

.form-control:-moz-placeholder {
    color: #293034;
}

.form-control::-moz-placeholder {
    color: #293034;
}

.form-control:-ms-input-placeholder {
    color: #293034;
}

.form-control::-webkit-input-placeholder {
    color: #293034;
}

.form-control {
    padding: 10px 15px;
    font-size: 15px;
    color: #ffffff;
    background-color: #14181a;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .3);
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, .3);
	height: auto;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #21262a;
}

textarea.form-control {
    padding: 10px 15px;
    line-height: 20px;
}

.radio,
.checkbox {
    min-height: 21px;
}

.checkbox-list, .radio-list {
    position: relative;
    margin-top: 26px;
}

.checkbox-list > label, .radio-list > label {
    position: absolute;
    top: -20px;
    left: -0.5px;
}

.checkbox-list > div, .radio-list > div {
    padding-left: 5px;
}

.input-sm {
    height: 31px;
    font-size: 13px;
}

select.input-sm {
    height: 31px;
    line-height: 31px;
}

.input-lg {
    height: 47px;
    font-size: 19px;
}

select.input-lg {
    height: 47px;
    line-height: 47px;
}

.help-block {
    color: #ffffff;
}

.form-horizontal .form-group {
    margin-left: -10px;
    margin-right: -10px;
}

.btn {
    text-transform: uppercase;
    padding: 8px 13px;
    font-size: 15px;
    border: 3px solid #131719;
    border-radius: 5px;
}

.btn-default {
    background-color: #131719;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: #010202;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #131719;
}

.btn-primary {
    background-color: #0788e2;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #0670ba;
	border-color: #131719;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #0788e2;
    border-color: #0679c9;
}

.btn-danger {
    background-color: #fe001f;
    border: none;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #d5001a;
    border-color: #a70014;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
    background-color: #fe001f;
    border-color: #e5001c;
}

.btn-link {
    color: #0788e2;
}

.btn-link:hover,
.btn-link:focus {
    color: #055b98;
}

.btn-lg {
    font-size: 19px;
}

.btn-sm,
.btn-xs {
    font-size: 13px;
}

.btn-xs {
    padding: 8px 10px;
    font-size: 10px;
}

/* Custom icons */
.icon-charge {
    display: inline-block;
    background: url("../img/charge.png") no-repeat center;
    width: 26px;
    height: 44px;
    margin-right: 15px;
}

.arrow {
    width: 49px;
    height: 49px;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 18px;
    vertical-align: bottom;
}

.arrow-down {
    background: url("../img/arrow-down.png") no-repeat bottom;
}

.arrow-up {
    background: url("../img/arrow-up.png") no-repeat bottom;
}

.arrow-small {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 7px;
    vertical-align: bottom;
}

.arrow-small.arrow-up {
    background: url("../img/arrow-small-up.png") no-repeat bottom;
}

.arrow-small.arrow-down {
    background: url("../img/arrow-small-down.png") no-repeat bottom;
}

/* ------------ */

.btn-default .caret {
    border-top-color: #FFFFFF;
    float: right;
    text-align: right;
    height: -38px;
}

.btn-group.form-control {
    padding: 0;
}

.btn-group.form-control .btn {
    text-align: left;
    color: #FFFFFF;
    padding: 3px 15px 0 15px;
    border: 3px solid #14181a;
    height: 40px;
    font-size: 12px;
    background: #21262a;
    font-width: normal;
}

.btn-group-xs > .btn {
    font-size: 13px;
}

.btn-group-sm > .btn {
    font-size: 13px;
}

.btn-group-lg > .btn {
    font-size: 19px;
}

.btn-group.open .dropdown-toggle {
    background: #0788e2;
    border: 3px solid #FFFFFF;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.125);
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-right-radius: 3px;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 3px;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    height: 47px;
    font-size: 19px;
}

select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
    height: 47px;
    line-height: 47px;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
    height: 31px;
    font-size: 13px;
}

select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
    height: 31px;
    line-height: 31px;
}

.input-group-addon {
    position: relative;
    padding: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #14181a;
    border-radius: 3px;
	border: none;
}

.input-group-addon label {
    position: absolute;
    top: -20px;
    left: 0;
}

.input-group-addon .btn-group.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon .btn-default .caret {
    float: none;
    margin-top: 0;
    margin-left: 5px;
}

.input-group-addon .btn-group .dropdown-toggle {
    border-width: 2px;
    width: auto;
}

.input-group-addon .btn-group.open .dropdown-toggle {
    border: 2px solid #FFFFFF;
}

.input-group-addon .btn-group.open .dropdown-menu {
    margin-top: -1px;
    text-align: left;
}

.input-group-addon.input-sm {
    font-size: 13px;
}

.input-group-addon.input-lg {
    font-size: 19px;
}

.nav > li > a {
    padding: 12px 30px;
    text-transform: uppercase;
}

.nav > li > a:first-child, .nav > li > a.first {
    padding-left: 0;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border-color: #0788e2;
}

.nav .nav-divider {
    margin: 9.5px 0;
}

.nav-tabs > li > a {
    border-radius: 3px 3px 0 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #293034;
}

.nav-tabs.nav-justified > .active > a {
    border-bottom-color: #293034;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #0788e2;
}

.nav-tabs-justified > .active > a {
    border-bottom-color: #293034;
}

.nav .caret {
    border-top-color: #0788e2;
    border-bottom-color: #0788e2;
}

.nav a:hover .caret {
    border-top-color: #055b98;
    border-bottom-color: #055b98;
}

.navbar {
    min-height: 60px;
	margin-bottom: 0;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px;
    }
}

.navbar-collapse {
    padding-left: 10px;
}

@media (min-width: 768px) {

    .navbar-collapse .navbar-nav.navbar-left:first-child {
        margin-left: -10px;
    }

    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: -10px;
    }
}

.container > .navbar-header,
.container > .navbar-collapse {
    margin-right: -10px;
    margin-left: -10px;
}

.navbar-brand {
    float: left;
    margin: 19.5px 10px;
    font-size: 19px;
    text-indent: -9999px;
    background: url("../img/logo.png") no-repeat;
    width: 264px;
    height: 30px;
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand {
        margin-left: 10px;
    }
}

.navbar-toggle {
    margin-right: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    border-radius: 3px;
}

.navbar-nav {
    margin: 9.75px -10px;
}

.navbar-nav > li > a {
    line-height: 21px;
}

.navbar-nav > li.last > a {
    padding-right: 0px;
}

@media (max-width: 767px) {

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 21px;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
        margin: 0;
    }

    .navbar-nav > li > a {
        padding-top: 13px;
        padding-bottom: 13px;
    }
}

.navbar-form {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px 10px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.navbar-btn {
    margin-top: 17px;
    margin-bottom: 12.5px;
    float: left;

}

.navbar-text {
    margin-top: 22px;
    margin-bottom: 19.5px;
}

.navbar img {
    float: right;
    margin-top: 12px;
    margin-bottom: 19.5px;
}

.navbar-default {
    background-color: #1e2224;
    -webkit-box-shadow: inset 0px -2px 10px 1px rgba(0, 0, 0, .1);
    box-shadow: inset 0px -2px 10px 1px rgba(0, 0, 0, .1);
	border: none;
	margin-bottom: 0;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #0f1112;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #0e1011;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #0f1112;
}

@media (max-width: 767px) {

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #0f1112;
    }
}

.navbar-inverse {
    background-color: #252a2d;
    border-top: 1px solid #3f4549;
    border-bottom: 1px solid #3f4549;
    min-height: 30px;
    -webkit-box-shadow: inset 0px -3px 10px 1px rgba(0, 0, 0, .1);
    box-shadow: inset 0px -3px 10px 1px rgba(0, 0, 0, .1);
}

.navbar-inverse .navbar-text {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #0788e2;
	background: none;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #151819;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #0e1011;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #0e1011;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        background-color: #0e1011;
    }
}

.label-primary {
    background-color: #0788e2;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #056ab1;
}

.label-danger {
    background-color: #fe001f;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #cb0019;
}

a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #0788e2;
}

.list-group-item:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #0788e2;
    border-color: #0788e2;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #b8e1fd;
}

.panel {
    margin-bottom: 21px;
    border-radius: 3px;
}

.panel-heading {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.panel-title {
    font-size: 17px;
}

.well {
    background-color: #21262a;
    border: none;
    border-radius: 5px;
}

.caret {
    width: 8px;
    height: 7px;
    margin-top: 4px;
    background: url("../img/caret.png") no-repeat right;
	border: none;
}

.dropdown-menu {
    width: 100%;
    font-size: 12px;
    border-radius: 3px;
	margin: 0;
}

.dropdown-menu .divider {
    margin: 9.5px 0;
}

.dropdown-menu > li > a {
    text-transform: uppercase;
    padding: 10px 15px;
    color: #1e2224;
    border-bottom: 1px solid #e5e5e5;
}

.dropdown-menu > li > a.last {
    border-bottom: none !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #0788e2;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #0788e2;
}

.dropdown-header {
    font-size: 13px;
}


footer {
    color: #5f6365;
    font-weight: normal;
    font-size: 15px;
}

.numbers p {
    margin: 0;
    height: 75px;
}
.numbers .cost {
    font-size: 60px;
    font-weight: 200;
}
.numbers .kwh {
    color: #616668;
    font-size: 30px;
    margin-left: 45px;
}
.numbers .cost.cost-grey {
    color: #abadae;
}

.icon-settings {
    background: url("../img/gear.png") no-repeat left !important;
}

.icon-left {
    padding-left: 20px !important;
}

.lowercase {
    text-transform: none !important;
}