.navbar-brand {
	background: url("../img/logo@2x.png") no-repeat;
	background-size: 264px 30px;
}

.icon-settings {
	background: url("../img/gear@2x.png") no-repeat left;
	background-size: 12px 12px;
}

input.checkboxChanged + .checkboxContainer {
	background: url("../img/checkbox@2x.png") top left no-repeat;
	background-size: 45px 15px;
}

input.radioChanged + .radioContainer {
	background: url("../img/radio@2x.png") top left no-repeat;
	background-size: 45px 15px;
}

.icon-charge {
	background: url("../img/charge@2x.png") no-repeat center;
	background-size: 26px 44px;
}

.arrow-down {
	background: url("../img/arrow-down@2x.png") no-repeat bottom;
	background-size: 49px 49px;
}

.arrow-up {
	background: url("../img/arrow-up@2x.png") no-repeat bottom;
	background-size: 49px 49px;
}

.arrow-small.arrow-up {
	background: url("../img/arrow-small-up@2x.png") no-repeat bottom;
	background-size: 25px 25px;
}

.arrow-small.arrow-down {
	background: url("../img/arrow-small-down@2x.png") no-repeat bottom;
	background-size: 25px 25px;
}

